In [92]:
##importing all the functions
from fetch import get_all_companies_df, \
get_company_df,\
get_exchange_rates_df,\
get_all_sepa_transactions_df,\
get_all_swift_transactions_df

In [93]:
print("Companyt Details")
display(get_all_companies_df())

# print("Company Details by ID")
# display(get_company_df())

print("Exchange Rates")
display(get_exchange_rates_df())

print("Currency EUR")
display(get_all_sepa_transactions_df())

print("Currency USD")
display(get_all_swift_transactions_df())

Companyt Details

,id,ibans,name,address
0,2,['GB51SJEV83747591864014'],Poirier S.A.R.L.,66 Gallagher river\nWest Jacobburgh\nB0E 5TY
1,3,['DE14065609541598144038'],Bourdon S.A.,"62, boulevard de Imbert\n52593 Hebert-les-Bains"
2,4,['DE77193919112673928344'],Samson,Nisapad 85\n2112 OC\nKootstertille
3,5,['NL28SZUK8962850954'],Trespa,rue Carpentier\n08913 David
4,6,['FR8396285095416080726847111'],Remmers & Gruijl,Orhan-Schottin-Straße 597\n03672 Schwarzenberg
...,...,...,...,...
94,96,['FR8971028934697447354528337'],Cameron-Buckley,"70, chemin Mathieu\n61934 Diallo-les-Bains"
95,97,['GB03FIGW90406560954159'],Fischer,Matthiasstraat 87\n4571 JK\nRhoon
96,98,['NL64VYXQ3747591864'],Scholz AG,"14, chemin Alice Guyot\n25452 Perrin"
97,99,['DE25158328581042042324'],Franke,Döhnring 864\n53661 Soltau
98,100,['GB68JEWG24681676155117'],"Howard, McCarthy and Harris",Ringstr. 55\n21108 Gießen

Exchange Rates

  currency  usd_rate  eur_rate
0      EUR    1.1290   1.00000
1      GBP    1.3469   0.88048
2      USD    1.0000   1.05450
3      CHF    0.9188   0.98790

Currency EUR

,id,payer,receiver,amount,currency,timestamp
0,321655fb-baaa-4c1f-9db5-a18e6dcf2a9b,DE28769442194283747591,DE83269553931086167923,46698.5370,EUR,2021-01-05T23:27:55.037925Z
1,c2dac74a-1429-47e3-b79a-bc45443fad91,GB14BJFP97283080256499,FR7209925764719308621072695,78540.6545,EUR,2021-01-09T16:14:41.160841Z
2,da546b40-4090-491a-b461-ef96ae7411b0,GB51SJEV83747591864014,FR6703114243904065609541598,57279.2525,EUR,2021-01-09T16:14:41.160841Z
3,f4ddd063-8b6a-423e-83be-414859ac6229,DE22852399214609282672,DE28769442194283747591,84210.2831,EUR,2021-01-13T18:35:09.5248Z
4,9370bff3-a206-413f-814f-e91f0ed45bf1,GB53SGBR62107269553931,NL86QGLJ2281132931,19508.4356,EUR,2021-01-14T05:36:06.595899Z
...,...,...,...,...,...,...
95,58190ff0-af7d-44f7-bdef-36d93adf8acc,FR5875918640140818391314958,DE09167966841644539374,9999.9351,EUR,2021-06-02T04:33:02.366084Z
96,8a1e8df9-4a11-4258-9c04-d5d576755199,GB14BJFP97283080256499,GB41QLOD12104642412552,14540.9826,EUR,2021-06-02T14:43:17.365464Z
97,c946f1a2-dfd9-4106-adf7-19c962f0edd0,DE77193919112673928344,DE09167966841644539374,88533.6347,EUR,2021-06-02T18:10:50.952268Z
98,9c350d29-f88d-4487-b740-c5298d5c0e63,DE28769442194283747591,GB35AZDS39191126739283,33755.2552,EUR,2021-06-19T20:07:34.694589Z
99,8b619c34-9eb3-4534-806c-9370e97561b1,NL20FHFU0351920327,NL09OGWL4528337449,44880.4628,EUR,2021-06-28T03:59:10.721479Z

Currency USD

,id,sender,beneficiary,amount,currency,timestamp
0,aafad863-2487-4a47-a6ab-f2148904b49f,DE16190572418695454227,GB41QLOD12104642412552,32777.3687,USD,2021-01-01T07:50:28.308495Z
1,c0ae366c-14e5-40de-af2b-f666a5e3042f,AT571436619956067656,CH9443043897520109122,58409.7006,GBP,2021-01-01T09:24:38.686109Z
2,98517a20-7779-4822-9c77-16386c1f6feb,NL60UXDS1126739283,FR7868098366976944219428374,86500.9390,CHF,2021-01-01T16:52:30.067201Z
3,1f3a4d6b-d377-4a8f-af7a-0d35b78822fc,AT858792009978489872,AT202035283792830612,60469.1585,USD,2021-01-01T18:28:43.838303Z
4,c8a32704-f06e-48e4-8be0-0f352130d89c,ES7702940454537092395387,FI1335283792830612,60469.1585,USD,2021-01-01T18:28:43.838303Z
...,...,...,...,...,...,...
95,d7060356-b239-495c-aa82-f7535f222ff3,kpxnmfaxozzjqd,zoxq4817qx87tl91p4s4j6r6j8m4w8s8i8v9b1,3667.0000,None,2021-01-07T00:56:22.496524Z
96,2775873c-6fdf-4962-82f0-c170b696eff7,NL69GMMS7694421942,FR6703114243904065609541598,47491.1952,EUR,2021-01-07T04:37:43.436423Z
97,e71d9c96-c4a7-4e7f-b5b7-0b6838a7a6c4,GB52OFVC96730974809855,FR6914403835422811329318493,7129.9235,CHF,2021-01-07T04:37:43.436423Z
98,4cd6fdaa-c9b1-43c9-8908-e59e2d1b62c1,NL06DCVI2439040656,NL28SGBR6210726955,66393.2886,EUR,2021-01-07T13:18:30.12552Z
99,cc21e1f2-39f1-4f68-9316-ab81f8eb0146,AT637010964923917759,CH4450750944457455088,81477.6040,USD,2021-01-07T13:18:30.12552Z

In [131]:
import requests
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType
 
# Initialize a Spark session
spark = SparkSession.builder \
    .appName("Create DataFrame Example") \
    .getOrCreate()

companies_all_data = get_all_companies_df()
exchange_all_data = get_exchange_rates_df()
sepa_all_data = get_all_sepa_transactions_df()
swift_all_data = get_all_swift_transactions_df()
 
# Create a DataFrame
all_companies_df_spark = spark.createDataFrame(companies_all_data)
exchange_df_spark = spark.createDataFrame(exchange_all_data)
sepa_df_spark = spark.createDataFrame(sepa_all_data)
swift_df_spark = spark.createDataFrame(swift_all_data)

# Show the DataFrame
# all_companies_df_spark.show()
all_companies_df_spark.describe()

DataFrame[summary: string, id: string, ibans: string, name: string, address: string]

In [95]:
from pyspark.sql.functions import regexp_replace, col
sepa_df_spark = sepa_df_spark.withColumn("Sender", col("payer"))

# Select relevant columns and rename beneficiary to receival

sepa_df_spark = sepa_df_spark.select("id", 

                                 col("payer").alias("Sender"),  # Rename here

                                 "receiver", "amount", "currency", "timestamp")

sepa_df_spark.show()

+--------------------+--------------------+--------------------+----------+--------+--------------------+
|                  id|              Sender|            receiver|    amount|currency|           timestamp|
+--------------------+--------------------+--------------------+----------+--------+--------------------+
|321655fb-baaa-4c1...|DE287694421942837...|DE832695539310861...| 46698.537|     EUR|2021-01-05T23:27:...|
|c2dac74a-1429-47e...|GB14BJFP972830802...|FR720992576471930...|78540.6545|     EUR|2021-01-09T16:14:...|
|da546b40-4090-491...|GB51SJEV837475918...|FR670311424390406...|57279.2525|     EUR|2021-01-09T16:14:...|
|f4ddd063-8b6a-423...|DE228523992146092...|DE287694421942837...|84210.2831|     EUR|2021-01-13T18:35:...|
|9370bff3-a206-413...|GB53SGBR621072695...|  NL86QGLJ2281132931|19508.4356|     EUR|2021-01-14T05:36:...|
|31697b46-aa31-4cc...|  NL56PCSS6306993503|FR731676155117771...| 2833.9843|     EUR|2021-01-14T18:40:...|
|3b11242e-28a0-4cd...|  NL79ORKQ1187701939|GB14THVD849309925...|77604.8601|     EUR|2021-01-14T23:37:...|
|b5b70b68-38a7-46c...|DE366816761551177...|DE489925764719308...|40035.5739|     EUR|2021-01-14T23:37:...|
|149befae-f273-49e...|FR670311424390406...|  NL75SVKI5422715832|86685.6431|     EUR|2021-01-17T03:19:...|
|27b3aada-7315-46b...|FR897102893469744...|  NL16MWOM5995114884| 39849.369|     EUR|2021-01-17T03:19:...|
|7b377778-a7f5-4e6...|FR786809836697694...|GB88CPDB289346974...|62063.2363|     EUR|2021-01-17T03:19:...|
|f33997e9-6a38-4c7...|FR694125527330747...|DE448471117102893...|   56385.6|     EUR|2021-01-17T03:19:...|
|f33997e9-6a38-4c7...|FR897102893469744...|FR626765995114884...|72355.3625|     EUR|2021-01-17T03:19:...|
|fa87b9ce-9351-474...|FR694125527330747...|GB52OFVC967309748...|62588.5162|     EUR|2021-01-17T19:14:...|
|4492fe97-63ad-450...|FR839628509541608...|  NL28SGBR6210726955| 38628.661|     EUR|2021-01-19T04:23:...|
|f78dd52b-c894-478...|GB24JEFX715832858...|  NL64VYXQ3747591864|64148.4743|     EUR|2021-01-19T14:42:...|
|b9d54a36-dfb4-438...|DE840427972830802...|  NL28SZUK8962850954|29797.9435|     EUR|2021-01-20T20:48:...|
|01e7940c-9737-487...|GB03FIGW904065609...|  NL64VYXQ3747591864|66393.2886|     EUR|2021-01-21T02:34:...|
|da546b40-4090-491...|FR786809836697694...|  NL62CPDB2893469744|75479.6172|     EUR|2021-02-01T04:25:...|
|19d8ccc7-0119-4f0...|GB88CPDB289346974...|DE453069935031142...|13224.9935|     EUR|2021-02-02T11:51:...|
+--------------------+--------------------+--------------------+----------+--------+--------------------+
only showing top 20 rows

In [96]:
exchange_df_spark.show()
exchange_df_spark.describe()

+--------+--------+--------+
|currency|usd_rate|eur_rate|
+--------+--------+--------+
|     EUR|   1.129|     1.0|
|     GBP|  1.3469| 0.88048|
|     USD|     1.0|  1.0545|
|     CHF|  0.9188|  0.9879|
+--------+--------+--------+

DataFrame[summary: string, currency: string, usd_rate: string, eur_rate: string]

In [97]:
# sepa_df_spark.show()
sepa_df_spark.describe()


sepa_df_spark.count()

100

In [98]:
# swift_df_spark.show()
swift_df_spark.describe()

swift_df_spark.count()

100

In [99]:



# Assuming you have a DataFrame df_spark and a specific column, e.g., "column_name"
 
# Get the distinct values from the column
distinct_values = swift_df_spark.select("currency").distinct()
 
# Count the number of unique values
unique_count = distinct_values.count()
 
# Show the distinct values
print(f"Number of unique values in 'column_name': {unique_count}")
distinct_values.show(truncate=False)

Number of unique values in 'column_name': 8
+---------+
|currency |
+---------+
|GBP      |
|CHF      |
|null     |
|XXX111XXX|
|EUR      |
|USD      |
|~~~      |
|___      |
+---------+

In [103]:
from pyspark.sql.functions import col
 
# Assuming `swift_df_spark` and `exchange_df_spark` are already defined
 
# Join the SWIFT transactions with currency rates

joined_df = swift_df_spark.join(exchange_df_spark, on="currency", how="inner")
 
# Convert amount to EUR

converted_df = joined_df.withColumn("amount", col("amount").cast("float") / col("eur_rate"))
 
# Select relevant columns and rename beneficiary to receival

swift_final_df = converted_df.select("id", "sender", 

                                 col("beneficiary").alias("receiver"),  # Rename here

                                 "amount", "currency", "timestamp")
 
# Show the final DataFrame with the renamed column

swift_final_df.show()

swift_final_df.count()

DataFrame[summary: string, id: string, sender: string, receiver: string, amount: string, currency: string, timestamp: string]

In [107]:
final_merged_df = sepa_df_spark.union(swift_final_df)  
 
 # Show the merged DataFrame
print("Merged DataFrame:") 
# merged_df.show()
final_merged_df.count()

# final_merged_df.show()

Merged DataFrame:

DataFrame[summary: string, id: string, Sender: string, receiver: string, amount: string, currency: string, timestamp: string]

In [129]:
final_merged_df.describe()
final_merged_df.show()

+--------------------+--------------------+--------------------+----------+--------+--------------------+
|                  id|              Sender|            receiver|    amount|currency|           timestamp|
+--------------------+--------------------+--------------------+----------+--------+--------------------+
|321655fb-baaa-4c1...|DE287694421942837...|DE832695539310861...| 46698.537|     EUR|2021-01-05T23:27:...|
|c2dac74a-1429-47e...|GB14BJFP972830802...|FR720992576471930...|78540.6545|     EUR|2021-01-09T16:14:...|
|da546b40-4090-491...|GB51SJEV837475918...|FR670311424390406...|57279.2525|     EUR|2021-01-09T16:14:...|
|f4ddd063-8b6a-423...|DE228523992146092...|DE287694421942837...|84210.2831|     EUR|2021-01-13T18:35:...|
|9370bff3-a206-413...|GB53SGBR621072695...|  NL86QGLJ2281132931|19508.4356|     EUR|2021-01-14T05:36:...|
|31697b46-aa31-4cc...|  NL56PCSS6306993503|FR731676155117771...| 2833.9843|     EUR|2021-01-14T18:40:...|
|3b11242e-28a0-4cd...|  NL79ORKQ1187701939|GB14THVD849309925...|77604.8601|     EUR|2021-01-14T23:37:...|
|b5b70b68-38a7-46c...|DE366816761551177...|DE489925764719308...|40035.5739|     EUR|2021-01-14T23:37:...|
|149befae-f273-49e...|FR670311424390406...|  NL75SVKI5422715832|86685.6431|     EUR|2021-01-17T03:19:...|
|27b3aada-7315-46b...|FR897102893469744...|  NL16MWOM5995114884| 39849.369|     EUR|2021-01-17T03:19:...|
|7b377778-a7f5-4e6...|FR786809836697694...|GB88CPDB289346974...|62063.2363|     EUR|2021-01-17T03:19:...|
|f33997e9-6a38-4c7...|FR694125527330747...|DE448471117102893...|   56385.6|     EUR|2021-01-17T03:19:...|
|f33997e9-6a38-4c7...|FR897102893469744...|FR626765995114884...|72355.3625|     EUR|2021-01-17T03:19:...|
|fa87b9ce-9351-474...|FR694125527330747...|GB52OFVC967309748...|62588.5162|     EUR|2021-01-17T19:14:...|
|4492fe97-63ad-450...|FR839628509541608...|  NL28SGBR6210726955| 38628.661|     EUR|2021-01-19T04:23:...|
|f78dd52b-c894-478...|GB24JEFX715832858...|  NL64VYXQ3747591864|64148.4743|     EUR|2021-01-19T14:42:...|
|b9d54a36-dfb4-438...|DE840427972830802...|  NL28SZUK8962850954|29797.9435|     EUR|2021-01-20T20:48:...|
|01e7940c-9737-487...|GB03FIGW904065609...|  NL64VYXQ3747591864|66393.2886|     EUR|2021-01-21T02:34:...|
|da546b40-4090-491...|FR786809836697694...|  NL62CPDB2893469744|75479.6172|     EUR|2021-02-01T04:25:...|
|19d8ccc7-0119-4f0...|GB88CPDB289346974...|DE453069935031142...|13224.9935|     EUR|2021-02-02T11:51:...|
+--------------------+--------------------+--------------------+----------+--------+--------------------+
only showing top 20 rows

In [127]:
from pyspark.sql.functions import regexp_replace, col
 
# Assuming df_spark is your DataFrame and "iban_column" is the column to clean
 
# Use regexp_replace to remove square brackets and single quotes
cleaned_all_companies_df = all_companies_df_spark.withColumn("ibans", regexp_replace(col("ibans"), "[\\[\\]' ]", ""))
 
# Show the result
cleaned_all_companies_df.show()
cleaned_all_companies_df.describe()

+---+--------------------+--------------------+--------------------+
| id|               ibans|                name|             address|
+---+--------------------+--------------------+--------------------+
|  2|GB51SJEV837475918...|    Poirier S.A.R.L.|66 Gallagher rive...|
|  3|DE140656095415981...|        Bourdon S.A.|62, boulevard de ...|
|  4|DE771939191126739...|              Samson|Nisapad 85\n2112 ...|
|  5|  NL28SZUK8962850954|              Trespa|rue Carpentier\n0...|
|  6|FR839628509541608...|    Remmers & Gruijl|Orhan-Schottin-St...|
|  7|DE192726665299152...|Houghton, Murray ...|Jakesingel 30\n94...|
|  8|GB31YQDI403835422...|      Leblanc S.A.S.|61, chemin de Fou...|
|  9|  NL06DCVI2439040656| Guillon Lesage S.A.|avenue de Lebreto...|
| 10|  NL76AWSK4159814403|      Hayes and Sons|Schomberweg 2\n55...|
| 11|DE091679668416445...|    Wagenvoort Groep|94, boulevard Mor...|
| 12|  NL28SGBR6210726955|      Fitzgerald Inc|Studio 36B\nClark...|
| 13|  NL69GMMS7694421942|             Leconte|Jähnring 13\n7503...|
| 14|DE098706393712508...|Johnston, Woodwar...|8 Walker spur\nLu...|
| 15|FR670311424390406...|Kaur, Kemp and Tu...|Fayestraat 14\n90...|
| 16|  NL75SVKI5422715832|Ruppert GmbH & Co...|Xaviweg 72\n4613 ...|
| 17|DE755192032778581...|             Schmitt|Flat 53N\nDaniell...|
| 18|DE726259924462791...|        Goudriaan NV|rue de Lucas\n424...|
| 19|DE231310829476869...|Sanderson, Fox an...|39, chemin Alice ...|
| 20|DE840427972830802...|       Royal Schagen|88 Leigh underpas...|
| 21|DE393664215183988...|     Teixeira S.A.S.|64, chemin Victor...|
+---+--------------------+--------------------+--------------------+
only showing top 20 rows

DataFrame[summary: string, id: string, ibans: string, name: string, address: string]

In [ ]:
final_merged_df.join(cleaned_all_companies_df, on="ibans", how="outer")

In [116]:
##sample account number which will be dynamic
account_number = "NL28SZUK8962850954"


# Filter the DataFrame where the account number matches either 'Sender' or 'Receiver'
filtered_df = final_merged_df.filter((col("Sender") == account_number) | (col("receiver") == account_number))

# Show the filtered DataFrame
filtered_df.show(truncate=False)

+------------------------------------+----------------------+---------------------------+----------------+--------+---------------------------+
|id                                  |Sender                |receiver                   |amount          |currency|timestamp                  |
+------------------------------------+----------------------+---------------------------+----------------+--------+---------------------------+
|b9d54a36-dfb4-438f-b437-d35a6de8317f|DE84042797283080256499|NL28SZUK8962850954         |29797.9435      |EUR     |2021-01-20T20:48:49.032295Z|
|1c6645da-cf6f-4203-980b-6967ce4cf650|DE09870639371250873038|NL28SZUK8962850954         |18425.6616      |EUR     |2021-02-16T15:44:49.229318Z|
|091f0708-20bf-4044-bad2-53e8399fa6d0|DE09167966841644539374|NL28SZUK8962850954         |61704.118       |EUR     |2021-02-23T11:22:11.451672Z|
|c734d804-1a23-45df-b5d0-cb358b3101b4|NL28SZUK8962850954    |DE84042797283080256499     |20404.4219      |EUR     |2021-02-23T11:22:11.451672Z|
|ce9b5ccf-62be-4424-8828-5f97bdb82804|NL28SZUK8962850954    |FR8396285095416080726847111|40035.5739      |EUR     |2021-04-14T01:48:03.265564Z|
|7e6fc16e-a51f-4fd9-9b83-95d252599fd3|NL28SZUK8962850954    |NL75SVKI5422715832         |52960.5152027027|USD     |2021-01-03T06:15:54.838236Z|
+------------------------------------+----------------------+---------------------------+----------------+--------+---------------------------+

In [114]:

# Convert 'amount' column to float (if it's not already in numerical format)
df = filtered_df.withColumn("amount", col("amount").cast(FloatType()))

# Create a new column 'balance_change' to reflect whether to add or subtract based on 'Sender' or 'receiver'
df_with_balance = df.withColumn(
    "balance_change",
    when(col("Sender") == account_number, -col("amount"))  # Subtract if account is the sender
    .otherwise(col("amount"))  # Add if account is the receiver
)

# Sum up the 'balance_change' to get the account balance
account_balance = df_with_balance.agg({"balance_change": "sum"}).collect()[0][0]

# Print the final account balance
print(f"Account balance for {account_number}: {account_balance}")

Account balance for DE77193919112673928344: -84585.7734375

In [144]:

# Join the DataFrames on ibans with sender and receiver
# We will perform two separate joins: one for sender and one for receiver
sender_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.Sender == cleaned_all_companies_df.ibans, "inner") \
    .select(cleaned_all_companies_df.name, final_merged_df.amount, final_merged_df.currency, final_merged_df.timestamp)

receiver_join = final_merged_df.join(cleaned_all_companies_df, final_merged_df.receiver == cleaned_all_companies_df.ibans, "inner") \
    .select(cleaned_all_companies_df.name, final_merged_df.amount, final_merged_df.currency, final_merged_df.timestamp)

# Rename the amount columns to indicate whether it's from sender or receiver
sender_join = sender_join.withColumnRenamed("amount", "sent_amount")
receiver_join = receiver_join.withColumnRenamed("amount", "received_amount")

# Combine sender and receiver data
combined_df = sender_join.join(receiver_join, ["name", "currency", "timestamp"], "outer")

# Handle null values by replacing them with 0
combined_df = combined_df.fillna(0)

# Calculate the total amount for each company
master_table_df = combined_df.groupBy("name", "currency", "timestamp") \
    .agg((F.sum("sent_amount") - F.sum("received_amount")).alias("current_amount"))

# Show the resulting master table
master_table_df.show(truncate=False)

+--------------------------+--------+---------------------------+------------------+
|name                      |currency|timestamp                  |current_amount    |
+--------------------------+--------+---------------------------+------------------+
|Simpson, Thompson and Lamb|EUR     |2021-03-23T23:27:53.407815Z|25688.251         |
|Johnson Group             |EUR     |2021-04-14T01:48:03.265564Z|-61868.6299       |
|Le Gall SARL              |EUR     |2021-01-17T03:19:46.124424Z|-62063.2363       |
|Schmitt                   |EUR     |2021-03-25T00:30:43.804192Z|-69639.7498       |
|Koninklijke van Brunswijk |EUR     |2021-01-06T02:45:09.566611Z|-31707.162109375  |
|Hope-Short                |EUR     |2021-05-03T12:42:19.396341Z|66598.8206        |
|Merle                     |EUR     |2021-02-02T12:31:19.851022Z|2991.9319         |
|Cichorius                 |EUR     |2021-03-28T19:15:22.519521Z|45912.8431        |
|Fischer                   |EUR     |2021-05-02T12:04:30.16243Z |99906.5363        |
|Roussel                   |EUR     |2021-06-19T20:07:34.694589Z|-33755.2552       |
|Georges S.A.              |EUR     |2021-05-02T12:04:30.16243Z |49755.97          |
|Ruppert GmbH & Co. KG     |USD     |2021-01-03T06:15:54.838236Z|-52960.5152027027 |
|Delahaye                  |EUR     |2021-03-31T22:49:03.509099Z|55580.4129        |
|Fitzgerald Inc            |EUR     |2021-01-19T04:23:44.085258Z|-38628.661        |
|Wagenvoort Groep          |EUR     |2021-06-02T04:33:02.366084Z|-9999.9351        |
|Johnson-Dawson            |GBP     |2021-01-05T23:05:04.045411Z|-48014.98987058195|
|Koninklijke Stinis        |EUR     |2021-02-21T06:55:11.191433Z|-71380.5007       |
|Lesage                    |GBP     |2021-01-05T08:03:58.843507Z|6442.917344268183 |
|Fabre S.A.                |EUR     |2021-05-12T03:30:14.459954Z|-76926.8584       |
|Teixeira S.A.S.           |USD     |2021-01-06T17:16:11.237802Z|47574.69846491228 |
+--------------------------+--------+---------------------------+------------------+
only showing top 20 rows

+--------------------------+--------+---------------------------+------------------+
|name                      |currency|timestamp                  |current_amount    |
+--------------------------+--------+---------------------------+------------------+
|Simpson, Thompson and Lamb|EUR     |2021-03-23T23:27:53.407815Z|25688.251         |
|Johnson Group             |EUR     |2021-04-14T01:48:03.265564Z|-61868.6299       |
|Le Gall SARL              |EUR     |2021-01-17T03:19:46.124424Z|-62063.2363       |
|Schmitt                   |EUR     |2021-03-25T00:30:43.804192Z|-69639.7498       |
|Koninklijke van Brunswijk |EUR     |2021-01-06T02:45:09.566611Z|-31707.162109375  |
|Hope-Short                |EUR     |2021-05-03T12:42:19.396341Z|66598.8206        |
|Merle                     |EUR     |2021-02-02T12:31:19.851022Z|2991.9319         |
|Cichorius                 |EUR     |2021-03-28T19:15:22.519521Z|45912.8431        |
|Fischer                   |EUR     |2021-05-02T12:04:30.16243Z |99906.5363        |
|Roussel                   |EUR     |2021-06-19T20:07:34.694589Z|-33755.2552       |
|Georges S.A.              |EUR     |2021-05-02T12:04:30.16243Z |49755.97          |
|Ruppert GmbH & Co. KG     |USD     |2021-01-03T06:15:54.838236Z|-52960.5152027027 |
|Delahaye                  |EUR     |2021-03-31T22:49:03.509099Z|55580.4129        |
|Fitzgerald Inc            |EUR     |2021-01-19T04:23:44.085258Z|-38628.661        |
|Wagenvoort Groep          |EUR     |2021-06-02T04:33:02.366084Z|-9999.9351        |
|Johnson-Dawson            |GBP     |2021-01-05T23:05:04.045411Z|-48014.98987058195|
|Koninklijke Stinis        |EUR     |2021-02-21T06:55:11.191433Z|-71380.5007       |
|Lesage                    |GBP     |2021-01-05T08:03:58.843507Z|6442.917344268183 |
|Fabre S.A.                |EUR     |2021-05-12T03:30:14.459954Z|-76926.8584       |
|Teixeira S.A.S.           |USD     |2021-01-06T17:16:11.237802Z|47574.69846491228 |
+--------------------------+--------+---------------------------+------------------+
only showing top 20 rows

In [141]:
from pyspark.sql.functions import col, collect_set, lit

# Step 1: Create a DataFrame with currency-to-country mapping (this is just an example)
currency_country_mapping = [
    ("USD", "United States"),
    ("EUR", "Eurozone"),
    ("INR", "India"),
    ("GBP", "United Kingdom"),
    ("JPY", "Japan")
]

currency_df = spark.createDataFrame(currency_country_mapping, ["currency", "country"])

# Step 2: Join the original DataFrame (final_merged_df) with the currency-country mapping DataFrame
df_with_country = final_merged_df.join(currency_df, final_merged_df.currency == currency_df.currency, "left")

# Step 3: Aggregate and collect distinct countries for each client (name)
countries_by_client = df_with_country.groupBy("name", "currency", "timestamp") \
    .agg(collect_set("country").alias("countries_transacted_with"))

# Step 4: Show the resulting DataFrame
countries_by_client.show(truncate=False)

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `currency` is ambiguous, could be: [`currency`, `currency`].